.form-control{
    width: 300px;
    margin-left: 36%;
    margin-top: 10px;
}
.btn{
    margin-top: 10px;
}

.descripcion{
    width: 305px;
    height: 100px;
    border-radius: 10px;
}
